#hotbar {
    position: relative;
}

#hotbar .macro .tooltip {
    z-index: 30;
}

.hotbar-page {
    position: absolute;
    bottom: 50px;
	width: 52px;
    left: 38px;
    max-height: 260px;
    z-index: 10;
    overflow:visible;
}

#hotbar-page-0 {
    left: 38px;
}
#hotbar-page-1 {
    left: 88px;
}
#hotbar-page-2 {
    left: 138px;
}
#hotbar-page-3 {
    left: 188px;
}
#hotbar-page-4 {
    left: 238px;
}
#hotbar-page-5 {
    left: 288px;
}
#hotbar-page-6 {
    left: 338px;
}
#hotbar-page-7 {
    left: 388px;
}
#hotbar-page-8 {
    left: 438px;
}
#hotbar-page-9 {
    left: 488px;
}


.hotbar-page.custom-hotbar{
    bottom:110px;
}
/*
.hotbar-page.rpg-ui {
    width: 662px;
}
    */

.hotbar-page.collapsed {
    display: none;
    pointer-events: none;
}

.hotbar-page-row.collapsed {
    display: none;
    pointer-events: none;
}

.hotbar-page.reverse {
    flex-direction: column-reverse;
}

.hotbar-page.hidefirst .hotbar-page-row:first-child {
    display: none;
}

.hotbar-page .action-bar {
    flex: 1;
    height: 52px;
    pointer-events: all;
    flex-wrap: nowrap;
}

#hotbar .macro-list {
    flex-wrap: nowrap;
    height: 100%;
    list-style: none;
    margin: 0 1px;
    padding: 0;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(10, var(--macro-size));
}

.hotbar-page.rpg-ui .macro-list {
    flex: 0 0 582px;
}

.hotbar-page .hotbar-page-row {
    flex-wrap: nowrap;
}

.hotbar-page .hotbar-page-row.selected .bar-controls .page-number {
    color: #bc8c4a;
}

.hotbar-page .bar-controls {
    cursor: pointer;
    pointer-events: all;
}

#hotbar .action-bar.no-arrows + .bar-controls span.page-number,
#hotbar .hotbar-page .bar-controls span.page-number,
#hotbar .hotbar-page .bar-controls i {
    line-height: 50px;
}
.hotbar-page .page-number:hover {
    text-shadow: 0 0 8px red;
}
